@charset "UTF-8";

.main-block{
    padding: 15px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: start;
}

.main-block>* {}

.main-block>.left,
.main-block>.right {
    width: 650px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5px;
}

.main-block>.left img,
.main-block>.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid;
}

.main .right .myinfo{
    margin-top: 15px;
}

.banner-section{
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction:column;
}

.banner-section .notification{
    width: 100%;
    height: 50px;
    border: 0.5px solid;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.banner-section .notice-title {
    font-weight: bold;
    font-size: 1.2em;
}

.banner-section>.swiper{
    width: 1000px;
    height: 350px;
}

.banner-section>.swiper>.swiper-wrapper{}

.banner-section>.swiper>.swiper-wrapper>.swiper-slide{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.banner-section>.swiper>.swiper-wrapper>.swiper-slide:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1.0);
}

.banner-section>.swiper>.swiper-wrapper>.swiper-slide>a{
    width: 100%;
    height: 100%;
    display:block;
}

.banner-section>.swiper>.swiper-wrapper>.swiper-slide>a>img{
    width: 100%;
    height: 100%;
    object-fit: none;
}

.banner-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background-color: red;
}

.banner-section .swiper-button-next::after,
.banner-section .swiper-button-prev::after{
    content: '';
}

.banner-section .material-symbols-outlined{
    font-size: 7rem;
    color: lightgray;
    opacity: .6;
}

.banner-section .material-symbols-outlined:hover{
    opacity: 1;
}

.banner-section .swiper-button-next{}
.banner-section .swiper-button-prev{}

.wrapper>main>section.company_items{
    display:flex;
    justify-content: center;
    align-items: center;
}

.wrapper>main>section.company_items>.items{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper>main>section.company_items>.items>.item {
    width: 300px;
    height: 200px;
    border: 1px solid skyblue;
    border-top-width: 6px;
    margin: 15px;
    transition: .5s;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper>main>section.company_items>.items>.item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.wrapper>main>section.company_items>.items>.item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.wrapper>main>section.company_items>.items>.item a img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-bottom: 1px solid #ddd;
}

.wrapper>main>section.company_items>.items>.item a div {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: calc(1em + 2pt);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.wrapper>main>section.multi-slider{
    /* border: 1px solid; */
    padding: 15px;
}

.wrapper>main>section.multi-slider>.swiper{
    /* border: 1px solid; */
    height: 100%;
}

.wrapper>main>section.multi-slider>.swiper>.swiper-wrapper{
    display:flex;
    align-items: center;
    transition-timing-function: linear;
}

.wrapper>main>section.multi-slider>.swiper>.swiper-wrapper>.swiper-slide{
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    transition: .3s;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper>main>section.multi-slider>.swiper>.swiper-wrapper>.swiper-slide:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.wrapper>main>section.multi-slider>.swiper>.swiper-wrapper>.swiper-slide.swiper-slide-active{
    z-index: 2;
}

.wrapper>main>section.multi-slider>.swiper>.swiper-wrapper>.swiper-slide.swiper-slide-prev,
.wrapper>main>section.multi-slider>.swiper>.swiper-wrapper>.swiper-slide.swiper-slide-next{
    z-index: 1;
}

.wrapper>main>section.multi-slider>.swiper>.swiper-wrapper>.swiper-slide>a{
    display:block;
    text-decoration: none;
    color: black;
}

.wrapper>main>section.multi-slider>.swiper>.swiper-wrapper>.swiper-slide>a>img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.wrapper>main>section.multi-slider .swiper-pagination-bullet{
    width: 5px;
    height: 5px;
    background-color: red;
}

.wrapper>main>section.multi-slider .swiper-button-next::after,
.wrapper>main>section.multi-slider .swiper-button-prev::after{
    content: '';
}

.wrapper>main>section.multi-slider .swiper-button-prev,
.wrapper>main>section.multi-slider .swiper-button-next{
    background-color: rgb(235, 233, 233);
    height: 100%;
    position:absolute;
    top: 22px;
    width: 70px;
    opacity: .4;
}

.wrapper>main>section.multi-slider .material-symbols-outlined{
    font-size: 7rem;
    color: black;
    opacity: .4;
}

.wrapper>main>section.multi-slider .swiper-button-prev:hover,
.wrapper>main>section.multi-slider .swiper-button-next:hover{
    opacity: .8;
}

.wrapper>main>section.multi-slider .swiper-button-next::after,
.wrapper>main>section.multi-slider .swiper-button-prev::after{
    content: '';
}
