<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{fragments/link :: linkFragment}" />

    <link rel="stylesheet" href="/css/notification/list.css"/>
    <link rel="stylesheet" href="/css/notification/update.css"/>
</head>
<body>
<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <h2>공지사항 수정</h2>
        <div class="wrap_body">
            <form th:action="@{/notification/update}" class="noticeForm" method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{updateNotifi.id}"/>
                <div class="form_group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" th:value="${updateNotifi.title}" placeholder="제목을 입력하세요">
                </div>
                <div class="form_group">
                    <label for="content">내용</label>
                    <textarea id="content" name="contents" th:utext="${updateNotifi.contents}" rows="10" placeholder="내용을 입력하세요"></textarea>
                </div>
                <div class="form_group">
                    <label for="author">작성자</label>
                    <input type="text" id="author" name="author" th:value="${updateNotifi.author}" placeholder="작성자를 입력하세요">
                </div>
                <div class="form_group">
                    <label for="author">수정날짜</label>
                    <input type="text" id="createAt" name="createAt" th:value="*{createAt}" placeholder="날짜를 입력하세요.">
                </div>
                <div class="form_group">
                    <button type="submit">수정완료</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div th:insert="~{fragments/footer :: footerFragment}"></div>
    </footer>
</div>
</body>
</html>
