<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- link -->
    <th:block th:insert="~{fragments/link :: linkFragment}" />
    <style>
        /* 테이블 스타일 */
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        /* 짝수 행 색상 지정 */
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        /* 버튼 숨기기 */
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}" />
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}" />
    </header>
    <main>
        <section>
            <h1>RESUME LIST</h1>
            <form id="resumeForm" action="/resume/delete" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>School</th>
                        <th>Major</th>
                        <th>Graduation Year</th>
                        <th>Company</th>
                        <th>Position</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Certification</th>
                        <th>Summary</th>
                        <th>Hobbies</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="resume : ${resumeList}">
                        <td>
                            <input type="checkbox" th:value="${resume.id}" name="resumeIds">
                            <span th:text="${resume.id}"></span>
                        </td>
                        <td th:text="${resume.name}"></td>
                        <td th:text="${resume.email}"></td>
                        <td th:text="${resume.phone}"></td>
                        <td th:text="${resume.schoolName}"></td>
                        <td th:text="${resume.major}"></td>
                        <td th:text="${resume.graduationYear}"></td>
                        <td th:text="${resume.companyName}"></td>
                        <td th:text="${resume.position}"></td>
                        <td th:text="${resume.startDate}"></td>
                        <td th:text="${resume.endDate}"></td>
                        <td th:text="${resume.certificationName}"></td>
                        <td th:text="${resume.summary}"></td>
                        <td th:text="${resume.hobbies}"></td>
                        <td>
                            <button class="hidden" type="submit" name="action" value="edit">Edit</button>
                            <button class="hidden" type="submit" name="action" value="delete">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <button id="editBtn">수정하기</button>
            <button id="deleteBtn">삭제하기</button>
        </section>
    </main>
    <!-- footer -->
    <th:block th:insert="~{fragments/footer :: footerFragment}" />
</div>
<script>
    // 체크된 항목이 있는지 확인하는 함수
    function hasCheckedItems() {
        var checkboxes = document.querySelectorAll('input[name="resumeIds"]:checked');
        return checkboxes.length > 0;
    }

    // 체크된 항목이 있을 때 버튼을 보이게 하는 함수
    function toggleButtonsVisibility() {
        var editBtn = document.getElementById('editBtn');
        var deleteBtn = document.getElementById('deleteBtn');
        if (hasCheckedItems()) {
            editBtn.classList.remove('hidden');
            deleteBtn.classList.remove('hidden');
        } else {
            editBtn.classList.add('hidden');
            deleteBtn.classList.add('hidden');
        }
    }

    // 체크박스 변경 이벤트 핸들러
    document.addEventListener('change', function(event) {
        if (event.target.matches('input[name="resumeIds"]')) {
            toggleButtonsVisibility();
        }
    });

    // Edit 버튼 클릭 이벤트 핸들러
    document.getElementById('editBtn').addEventListener('click', function(event) {
        document.getElementById('resumeForm').action = "/resume/edit";
        document.getElementById('resumeForm').submit();
    });

    // Delete 버튼 클릭 이벤트 핸들러
    document.getElementById('deleteBtn').addEventListener('click', function(event) {
        document.getElementById('resumeForm').action = "/resume/delete";
        document.getElementById('resumeForm').submit();
    });
</script>
</body>
</html>
